.cards {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 0 40px;
  box-sizing: border-box;
  /* border-top: 1px solid #21212166; */
  border-bottom: 1px solid #21212166;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 413px);
  gap: 40px 20px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1319px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
  }
}

@media (max-width: 886px) {
  .cards__list {
    grid-template-columns: 413px;
  }
}

@media (max-width: 627px) {
  .cards {
    padding: 20px 16px 40px;
  }

  .cards__list {
    grid-template-columns: 288px;
  }
}