.card {
  max-width: 413px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-4px);
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #212121;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 353px;
}

.card__like-button {
  width: 23px;
  height: 20px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 23px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  transition: opacity 0.3s;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

/* .card__like-button_active {
  opacity: 1;
} */

@media (max-width: 627px) {
  .card {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}

@media (max-width: 453px) {
  .card {
    width: 100%;
    max-width: 288px;
  }

  .card__image {
    width: 100%;
    height: 288px;
  }

  .card__title {
    max-width: 235px;
  }

  .card__like-button {
    width: 44px;
    height: 44px;
  }
}