.footer {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  box-sizing: border-box;
}

.footer__content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
}


.footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}

