.footer {
  width: 100%;
  padding: 0 0 60px;
  text-align: center;
  box-sizing: border-box;
}

.footer__content {
  max-width: 1319px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px 0;
  border-top: 1px solid rgba(33, 33, 33, 0.1);
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}

@media (max-width: 1359px) {
  .footer__content {
    max-width: 886px;
  }
}

@media (max-width: 926px) {
  .footer__content {
    max-width: 453px;
  }
}

@media (max-width: 493px) {
  .footer__content {
    max-width: 328px;
  }
}

@media (max-width: 368px) {
  .footer__content {
    padding: 60px 16px 0;
  }
}