.page {
  background-color: #FCF5E5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #212121;
}